@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: "Comfortaa", sans-serif;
}

.wa .d-flex i{
    font-size: 50px;
    color: #25D386;
    margin-right: 30px;
}

.call .d-flex i{
    font-size: 50px;
    color: #1D588D;
    margin-right: 30px;
}

.wa .d-flex p , .call .d-flex p{
    font-size: 20px;
    font-weight: bold;
}

.btn-basic{
    background: #5b3bff;
    padding: 8px 30px;
    font-weight: bold;
    color: #FFF;
    border-radius: 50px;
    border: 2px solid #5b3bff;
}

.btn-basic:hover{
    border: 2px solid #5b3bff;
    background: #FFF;
    color: #5b3bff;
}
